main {
    margin-top: 60px; /* Space for the fixed navbar */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.card {
    display: inline-block; /* Width matches content */
}

.card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    cursor: pointer; /* Indicate clickability */
}

.card img:hover {
    transform: scale(1.1); /* Zoom in on hover */
    box-shadow: 0 4px 8px rgba(233, 230, 230, 0.5); /* Shadow for depth */
}

/* Lightbox container */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000; /* Sits on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);  /*Dark overlay*/
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(233, 230, 230, 0.5); /* Shadow for depth */
}

/* Lightbox image */
.lightbox-content {
    max-width: 95%; /* Adjust size as needed */
    height: 95%; /* Adjust size as needed */
    box-shadow: 0 6px 20px rgba(233, 230, 230, 0.8);

}

/* Close button */
.close {
    position: absolute;
    top: 0px;
    right: 40px;
    color: #0c0c0c;
    font-size: 40px;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Consistent sizing */
}

ul {
    display: flex;
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0; /* Sticks the navbar to the top */
    z-index: 10; /* Ensures the navbar stays on top */
    box-shadow: 5px 4px 10px black;
}

li a {
    display: block;
    text-decoration: none;
    padding: 22px 25px;
    color: black;
   
}


li:hover {
    background-color: gray;
    border-radius: 8px;
    font-size: 20px;
}

.SignOutbtn {
    margin: auto;
    margin-right: 0;
}

.card {
    display: inline-block; /* Width matches content */
}

.card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    cursor: pointer; /* Indicate clickability */
}

.card img:hover {
    transform: scale(1.1); /* Zoom in on hover */
    box-shadow: 0 4px 8px rgba(233, 230, 230, 0.5); /* Shadow for depth */
}



